@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.AvatarRoot {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   vertical-align: middle;
   overflow: hidden;
   user-select: none;
   width: 35px;
   height: 35px;
   border-radius: 100%;
   background-color: var(--black-a3);
}

.AvatarImage {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: inherit;
}

.AvatarFallback {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   color: var(--violet-11);
   font-size: 15px;
   line-height: 1;
   font-weight: 500;
}
.btn-color {
   @apply hover:bg-red-50 active:bg-red-100 rounded;
}

.popover-menu {
   @apply flex flex-col border rounded-lg text-left  mr-2 bg-white;
}

.popover-menu-item {
   @apply btn-color pl-2 py-2 justify-start mx-1 rounded;
}

.hero-image {
   @apply h-[13vw] w-[13vw] xl:h-[9vw] xl:w-[9vw] block shadow;
}

.sidebar-image {
   @apply w-[5vw] h-[5vw] lg:w-[3vw] lg:h-[3vw] rounded-md  m-1 ml-2 shadow;
}
